body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  text-align: justify;
}

#left_border {
  font-size: 40px;
  line-height: 40px;
  border-left: 5px solid tomato;
  padding-left: 10px;
  border-radius: 5px;
}

.orange {
  color: orange;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(45deg, purple 50%, navy);
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
}

.flexible_container {
  display: flex;
}

.half {
  width: 50%;
}

.text {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.first_section img {
  width: 90%;
  margin-top: -50px;
}

.my_mission {
  font-size: 50px;
  text-align: center;
}

.blue {
  color: rgb(1, 1, 36);
}

.second_section {
    margin-bottom: 100px;
}

.second_section img {
  width: 12em;
  height: 12em;
}

.mission {
    background-image: linear-gradient(360deg, crimson, tomato 60%);
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 4%;
}

.vision {
    background-image: linear-gradient(360deg, lightgray, gray 50%);
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 4%;
}

.goal {
    background-image: linear-gradient(360deg, rgb(184, 69, 184) 50%, rgb(71, 71, 206));
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 4%;
    margin-right: 4%;
}

.mvg {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
}

.third_section {
    margin-left: 50px;
    margin-right: 50px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px 200px;
    margin-bottom: 100px;
  }

.third_section h1 {
  font-size: 40px;
  line-height: 30px;
}

.third_section img {
  margin-left: 80px;
  width: 70%;
}

.fourth_section {
  margin-left: 120px;
  margin-right: 50px;
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right 100px;
  background-size: 200px 200px;
  margin-bottom: 80px;
}

.fourth_section img {
  width: 70%;
  margin-left: 100px;
}

.fourth_section h1 {
  font-size: 40px;
  line-height: 30px;
}

.myself {
  text-align: center;
  font-size: 50px;
}

.fifth_section {
  background-image: linear-gradient(360deg, gray 30%, white);
  /* border-radius: 5px; */
}

.fifth_section img {
  width: 80%;
  margin-left: 50px;
  margin-right: 50px;
}

.fifth_section text {
  width: 80%;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  background-color: rgb(1, 1, 27);
  text-align: center;
  font-family: "Stylish", sans-serif;
  line-height: 30px;
  padding: 30px 50px;
  margin-bottom: -20px;
}
